
.playground{
    position: fixed;
    left: 50%;
    top: 50%;
    background: #FAFAFA;
    transform: translate(-50%, -50%);
}

.playground .board {
    position: absolute;
    background: #DDD;
}

polygon {
    cursor: pointer;
    transform: scale(1);
    transition: all 0.2s;
    opacity: 1;
}

polygon:hover {
    opacity: 0.5;
}

.puzzle-piece{
    position: absolute;
}

.non-interactive{
    pointer-events: none;
}

.game-over .puzzle-piece {
    transition: all 0.5s;
}

.show-answer{
    position: absolute;
    left: 10px;
    bottom: 10px;
}