
.playground{
    position: fixed;
    left: 50%;
    top: 50%;
    background: #FAFAFA;
    transform: translate(-50%, -50%);
}

.playground .board {
    position: absolute;
    background: #DDD;
}

polygon {
    cursor: -webkit-grab;
    transition: all 0.2s;
    opacity: 1;
    pointer-events: all;
}

polygon:hover {
    opacity: 0.5;
}

.puzzle-piece{
    position: absolute;
    pointer-events: none;
    transform: rotate(0deg);
    transition: transform 0.1s;
}

.non-interactive *{
    pointer-events: none;
}

.game-over .puzzle-piece, .game-over .polygon-component {
    transition: all 0.5s;
}

.show-answer{
    position: absolute;
    left: 10px;
    bottom: 10px;
}

button {
    user-select: none;
}

.polygon-component {
    pointer-events: none;
    position: absolute;
}

.rotate-icon {
    pointer-events: all;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 50%;
    top: 50%;
    display: inline-block;
    opacity: .3;
    transform: translate(10px, -10px);
    cursor: pointer;
}

.rotate-icon:hover {
    opacity: .5;
    cursor: pointer;
}

body, * {
    -webkit-user-drag: none !important;
}